state-machine-definitions/academy_ingestion.asl.json
{
    "Comment": "State Machine for Academy Ingestion",
    "StartAt": "GetNumberOfAvailableIPs",
    "States": {
        "GetNumberOfAvailableIPs": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:ec2:describeSubnets",
            "Parameters": {
                "SubnetIds": [
                    "${SubnetIds}"
                ]
            },
            "ResultPath": "$.SubnetResult",
            "Next": "InvokeLambdaCalculateMaxConcurrency"
        },
        "InvokeLambdaCalculateMaxConcurrency": {
            "Type": "Task",
            "Resource": "${MaxConcurrencyLambdaArn}",
            "Parameters": {
                "AvailableIPs.$": "$.SubnetResult.Subnets[0].AvailableIpAddressCount",
                "Workers": "${NumberOfGlueWorkers}"
            },
            "ResultPath": "$.MaxConcurrencyResult",
            "Next": "Database Ingestion Map"
        },
        "Database Ingestion Map": {
            "Type": "Map",
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "INLINE"
                },
                "StartAt": "Glue: Database Ingestion",
                "States": {
                    "Glue: Database Ingestion": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::glue:startJobRun.sync",
                        "Parameters": {
                            "JobName": "${IngestionGlueJobName}",
                            "Arguments": {
                                "--table_filter_expression.$": "$.FilterString"
                            }
                        },
                        "End": true
                    }
                }
            },
            "MaxConcurrencyPath": "$.MaxConcurrencyResult.max_concurrency",
            "ItemsPath": "$.TableFilters",
            "ItemSelector": {
                "MaxConcurrency.$": "$.MaxConcurrencyResult.max_concurrency",
                "FilterString.$": "$$.Map.Item.Value"
            },
            "Next": "StartCrawler",
            "ResultPath": "$.dbIngestionMapOutput"
        },
        "StartCrawler": {
            "Type": "Task",
            "Parameters": {
                "Name": "${AcademyCrawlerName}}"
            },
            "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
            "Next": "Copy to Raw Map",
            "ResultPath": "$.crawlerOutput"
        },
        "Copy to Raw Map": {
            "Type": "Map",
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "INLINE"
                },
                "StartAt": "Glue: Copy to Raw Zone",
                "States": {
                    "Glue: Copy to Raw Zone": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::glue:startJobRun",
                        "Parameters": {
                            "JobName": "${AcademyLandingToRawGlueJobName}",
                            "Arguments": {
                                "--table_filter_expression.$": "$.FilterString",
                                "--s3_prefix.$": "$.S3Prefix"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemsPath": "$.LandingToRaw",
            "ItemSelector": {
                "FilterString.$": "$$.Map.Item.Value.FilterString",
                "S3Prefix.$": "$$.Map.Item.Value.S3Prefix"
            },
            "End": true,
            "ResultPath": "$.copyToRawOutput"
        }
    }
}